/**
 TODO(you): Add CSS for the list that you create yourself!
*/
body{
  margin:0 ;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/market.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PageTitle {
  color:white;
  font-family: 'Microsoft YaHei','Arial',serief;
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  width: 780px;
}
.smargin{
  margin:auto;
  width:66.67%
  font-family: 'Microsoft YaHei','Arial',serief;
  color:rgb(0,51,51);
  line-height:32px;
}
ul{
  margin:0;
  list-style:none;
  color:rgba(0,0,0,0.25);
}
li{
  padding-top:60px;
  padding-bottom:60px;
  height:300px;
}
a{
  font-family: 'Microsoft YaHei','Arial',serief;
  margin-top:60px;
  font-size:24px;
  color:#42b4d6;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
strong{
  color:rgba(255,130,71,0.75);
  font-size: 24px;
  line-height:100px;
}
p{
  margin:20px 0 20px 0;
  font-family: 'Microsoft YaHei','Arial',serief;
  font-size:18px;
  line-height:32px;
  color:rgb(51,51,51);
}
.flex {
  display: flex;
  padding: 15px;
  color:rgba(0,0,51,0.5);
  flex-direction: row;
}

.flex1 {
  flex: 1;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex2 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
img{
  width:100%;
}
